# Connection string для Neon Tech PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_ikQn8JFfSO5B@ep-round-haze-ame9cfi3-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
